<div class = "container-fluid mt-3">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <h1> <%= @video.video_title %></h1>
      <% if @video.video_provider == "youtube" %>
        <iframe class="mx-3" width="1020" height="630" src="https://www.youtube.com/embed/<%= @video.videokey%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <% else %>
      <iframe src="https://player.vimeo.com/video/<%= @video.videokey%>" width="1020" height="630" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      <% end %>

      <%= link_to video_path(Video.all.sample.id) do %>
      <h2><button type="button" class="btn btn-outline-primary"><i class="fas fa-random"></i></button></h2>
      <% end %>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
